/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";
@include mat-core();
$angular-primary: mat-palette($mat-teal, 500, 100, 900);
$angular-accent: mat-palette($mat-pink, A200, A100, A400);
$angular-warn: mat-palette($mat-red);
$angular-default-theme: mat-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

@include angular-material-theme($angular-default-theme);

$angular-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

.darkMode {
  @include angular-material-color($angular-dark-theme);
}

a {
  color: mat-color($angular-accent);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-list {
  background: none !important;
}

ion-item {
  --background: none;
}

.full-width {
  width: 100%;
}

.orDiv {
  margin: 1.3em 0;
}

.auth-title {
  font-family: "Arial Black", sans-serif;
  font-size: 4.5em;
  letter-spacing: -1px;
  line-height: 1em;
  font-weight: 500 !important;
  color: var(--ion-color-light-contrast);
}

.auth-content {
  --offset-top: 0 !important;
  flex-flow: column wrap;
  padding: 20px;
  color: var(
    --ion-card-color,
    var(--ion-item-color, var(--ion-color-step-550, #737373))
  );
}

//REGISTER & LOGIN PAGE
.transparent-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

.transparent-header::after {
  background: none;
}

.inline-icon {
  margin-right: 0.3em;
  font-size: 100% !important;
}

//SCROLL

ion-content::part(scroll){
  overflow-y: hidden;
  // padding-right: 0px;
}

.custom-inner-scroll {
  overflow-y: auto;
  max-height: calc(100vh - 76px);
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  scrollbar-width: thin;
}

.custom-inner-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-inner-scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
}

.custom-inner-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0px;
  border: 0px solid #ffffff;
}
