<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loggedIn">
  <ion-list lines="none">
    <ion-item button detail routerLink="/profile/{{user}}">
      My Profile
    </ion-item>
    <ion-item button detail routerLink="/create-event"> Create Event </ion-item>
    <ion-item button detail routerLink="/view-events"> List Events </ion-item>
    <ion-item button detail routerLink="/list-users"> List Users </ion-item>
    <ion-item button detail routerLink="/leaderboard"> Leaderboard </ion-item>
    <ion-item button detail routerLink="/settings"> Settings </ion-item>
    <ion-item button (click)="logout()"> Logout </ion-item>
  </ion-list>
</ion-content>
