<ion-header class="transparent-header">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!uuid"> Create Event </ion-title>
    <ion-title *ngIf="uuid"> Edit Event </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="form">
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="Title"
        autocomplete="off"
        formControlName="title"
      />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Description"
        autocomplete="off"
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Choose date</mat-label>
      <input
        matInput
        readonly
        [matDatepicker]="datePicker"
        formControlName="date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Choose start time</mat-label>
      <input
        matInput
        readonly
        name="startTimePicker"
        [ngxMatTimepicker]="startTimePicker"
        placeholder="Choose start time"
        formControlName="startTime"
      />
      <mat-icon matSuffix (click)="startTimePicker.open()" disabled="false">
        watch_later
      </mat-icon>
    </mat-form-field>
    <ngx-mat-timepicker #startTimePicker disabled="false"></ngx-mat-timepicker>

    <mat-form-field class="full-width">
      <mat-label>Choose end time</mat-label>
      <input
        matInput
        readonly
        name="endTimePicker"
        [ngxMatTimepicker]="endTimePicker"
        placeholder="Choose end time"
        formControlName="endTime"
      />
      <mat-icon matSuffix (click)="endTimePicker.open()" disabled="false">
        watch_later
      </mat-icon>
    </mat-form-field>
    <ngx-mat-timepicker #endTimePicker disabled="false"></ngx-mat-timepicker>
  </form>

  <button
    mat-flat-button
    color="primary"
    class="full-width"
    *ngIf="!uuid"
    (click)="createEvent()"
  >
    Create
  </button>

  <button
    mat-flat-button
    color="primary"
    class="full-width"
    *ngIf="uuid"
    (click)="updateEvent()"
  >
    Update
  </button>
</ion-content>
