<ion-card>
  <ion-card-header>
    <ion-card-title> Add User </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Name"
          autocomplete="off"
          formControlName="name"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Phone</mat-label>
        <input
          matInput
          placeholder="Phone"
          autocomplete="off"
          formControlName="phone"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          autocomplete="off"
          formControlName="email"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          autocomplete="off"
          formControlName="password"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Role</mat-label>
        <input
          matInput
          placeholder="Role"
          autocomplete="off"
          formControlName="role"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Date of joining</mat-label>
        <input
          matInput
          [matDatepicker]="datePicker"
          formControlName="dateOfJoining"
          [disabled]="true"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="datePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datePicker disabled="false"></mat-datepicker>
      </mat-form-field>
    </form>
    <ion-item>
      <button
        mat-stroked-button
        slot="end"
        color="primary"
        (click)="addUser()"
      >
        Add
      </button>
    </ion-item>
  </ion-card-content>
</ion-card>
