<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button routerLink="/profile/{{uuid}}" *ngIf="uuid">
      My Profile
    </ion-item>
    <ion-item button routerLink="/create-event" *ngIf="uuid">
      Create Event
    </ion-item>
    <ion-item button routerLink="/view-events" *ngIf="uuid">
      List Events
    </ion-item>
    <ion-item button routerLink="/list-users" *ngIf="uuid"> List Users </ion-item>
    <ion-item button routerLink="/leaderboard" *ngIf="uuid"> Leaderboard </ion-item>
    <ion-item button routerLink="/settings" *ngIf="uuid"> Settings </ion-item>
    <ion-item button routerLink="/login" *ngIf="!uuid"> Login </ion-item>
    <ion-item button routerLink="/register" *ngIf="!uuid"> Register </ion-item>
    <ion-item button (click)="logout()" *ngIf="uuid"> Logout </ion-item>
  </ion-list>
</ion-content>
