<!-- <super-tabs>
  <super-tabs-toolbar slot="top">
    <super-tab-button>
      <ion-icon name="home-outline"></ion-icon>
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="home-outline"></ion-icon>
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="settings-outline"></ion-icon>
    </super-tab-button>
  </super-tabs-toolbar>
  <super-tabs-container>
    <super-tab>
      <ion-nav [root]="pageOne"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="pagetwo"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="pageThree"></ion-nav>
    </super-tab>

    <super-tab>
      <ion-nav [root]="createEvent"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="addUser"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="listEvents"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label> Theme </ion-label>
            <ion-icon slot="end" name="sunny-outline"></ion-icon>
            <ion-toggle
              slot="end"
              [(ngModel)]="modeSwitch"
              (ionChange)="onToggleColorTheme($event)"
            >
            </ion-toggle>
            <ion-icon slot="end" name="moon-outline"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs> -->
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<!-- <router-outlet></router-outlet> -->
