<ion-header class="transparent-header">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/edit-profile/' + user?.uuid]">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="no-padding">
    <ion-row class="align">
      <ion-col *ngIf="user?.profileImage">
        <ion-avatar class="avatar">
          <img src="{{ user.profileImage }}" />
        </ion-avatar>
      </ion-col>
      <ion-col *ngIf="!user?.profileImage">
        <ion-avatar class="avatar">
          <img src="../assets/alternative.svg" />
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text class="name"> {{ user?.name }} </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list lines="none">
    <ion-item>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label>
        <p>Email</p>
        <h2>{{user?.email}}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="call-outline"></ion-icon>
      <ion-label>
        <p>Phone</p>
        <h2>{{user?.phone}}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="trophy-outline"></ion-icon>
      <ion-label>
        <p>Score</p>
        <h2>{{user?.drivesAttended}}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>
        <p>Date of Joining</p>
        <h2>{{user?.dateOfJoining|date}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
