<ion-header class="transparent-header">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Change Password </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <mat-form-field class="full-width">
      <mat-label>Current Password</mat-label>
      <input
        matInput
        [type]="hideCurrentPassword ? 'password' : 'text'"
        placeholder="Current Password"
        autocomplete="off"
        formControlName="currentPassword"
      />
      <mat-icon
        matSuffix
        (click)="hideCurrentPassword = !hideCurrentPassword"
        class="inline-icon"
      >
        {{hideCurrentPassword ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error *ngIf="form.controls.currentPassword.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>New Password</mat-label>
      <input
        matInput
        [type]="hideNewPassword ? 'password' : 'text'"
        placeholder="New Password"
        autocomplete="off"
        formControlName="newPassword"
      />
      <mat-icon
        matSuffix
        (click)="hideNewPassword = !hideNewPassword"
        class="inline-icon"
      >
        {{hideNewPassword ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error *ngIf="form.controls.newPassword.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        [type]="hideConfirmPassword ? 'password' : 'text'"
        placeholder="Confirm Password"
        autocomplete="off"
        formControlName="confirmPassword"
        [errorStateMatcher]="matcher"
      />
      <mat-icon
        matSuffix
        (click)="hideConfirmPassword = !hideConfirmPassword"
        class="inline-icon"
      >
        {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error *ngIf="form.controls.confirmPassword.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>

      <mat-error *ngIf="form.hasError('notSame')">
        Passwords do not match
      </mat-error>
    </mat-form-field>
  </form>
  <br />
  <button
    mat-flat-button
    color="primary"
    class="full-width"
    [disabled]="form.invalid"
    (click)="ResetPassword()"
  >
    Reset Password
  </button>
</ion-content>
