<ion-header class="transparent-header">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Settings </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label> Theme </ion-label>
      <ion-icon slot="end" name="sunny-outline"></ion-icon>
      <ion-toggle
        slot="end"
        [(ngModel)]="modeSwitch"
        (ionChange)="onToggleColorTheme($event)"
      >
      </ion-toggle>
      <ion-icon slot="end" name="moon-outline"></ion-icon>
    </ion-item>
    <ion-item button detail routerLink="/reset-password">
      <ion-label> Reset Password </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
