<ion-header class="transparent-header">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Leaderboard </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <span slot="start"> No. </span>
      <span> Name </span>
      <span slot="end"> Score </span>
    </ion-item>

    <ng-container *ngFor="let user of users, let i=index">
      <ion-item
        *ngIf="user.uuid != currentUser"
        lines="full"
        routerLink="/profile/{{user.uuid}}"
      >
        <ion-note slot="start"> {{i+1}} </ion-note>
        <ion-label>{{user.name}}</ion-label>
        <ion-text slot="end"> {{user.drivesAttended}} </ion-text>
      </ion-item>

      <ion-item
        *ngIf="user.uuid === currentUser"
        lines="full"
        routerLink="/profile/{{user.uuid}}"
        color="primary"
      >
        <ion-note slot="start"> {{i+1}} </ion-note>
        <ion-label>{{user.name}}</ion-label>
        <ion-text slot="end"> {{user.drivesAttended}} </ion-text>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
